<ng-container *ngIf="task">
  <div class="task-item">
    <div class="task-actions">
      <mat-icon
        data-testid="task-expand"
        class="icon"
        (click)="toggleExpansion()"
        >{{
          isExpanded ? "keyboard_arrow_up" : "keyboard_arrow_down"
        }}</mat-icon
      >
      <input
        data-testid="task-checkbox"
        type="checkbox"
        class="icon"
        [(ngModel)]="isComplete"
      />
      <mat-icon
        data-testid="edit-button"
        class="icon ml-auto"
        (click)="editTask()"
        >edit</mat-icon
      >
      <mat-icon class="icon ml-8" (click)="deleteTask()">delete</mat-icon>
    </div>
    <div class="task-content">
      <p data-testid="task-title">{{ task.title }}</p>
      <p *ngIf="isExpanded" data-testid="task-description">
        {{ task.description }}
      </p>
    </div>
  </div>
</ng-container>
