@import "colors";
@import "typography";

$highlight-color: darken($background, 10%);

.task-item {
  background-color: $background;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease-in-out;

  &--hovered {
    background-color: $highlight-color;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__actions {
    display: flex;
    width: 100%;
    gap: 0.8rem;

    .task-item__icon {
      cursor: pointer;
      font-size: $big-font-size;
      size: $big-font-size;
    }
  }

  .task-item__content {
    word-wrap: break-word;
    margin-bottom: 0;
    padding: 0 0.5rem;
    cursor: pointer;
  }

  margin-bottom: 0.8rem;
}
