<ng-container *ngIf="task">
  <div class="task-item" [ngClass]="{ 'task-item--hovered': hovering }">
    <header class="task-item__header">
      <div class="task-item__actions">
        <input
          data-testid="task-checkbox"
          type="checkbox"
          class="task-item__icon ml-auto"
          [(ngModel)]="isComplete"
        />
        <mat-icon class="task-item__icon" (click)="onDeleteTask()"
          >delete</mat-icon
        >
      </div>
    </header>
    <div
      class="task-item__content"
      (click)="onSelectTask()"
      (mouseover)="onMouseOver()"
      (mouseout)="onMouseOut()"
    >
      <p data-testid="task-title" class="ft-medium">
        {{ task.title }}
      </p>
    </div>
  </div>
</ng-container>
