.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.ml-4 {
  margin-left: 0.4rem;
}

.ml-6 {
  margin-left: 0.6rem;
}

.ml-8 {
  margin-left: 0.8rem;
}

.mb-10 {
  margin-bottom: 1rem;
}

.mb-12 {
  margin-bottom: 1.2rem;
}

.mb-14 {
  margin-bottom: 1.4rem;
}

.mb-16 {
  margin-bottom: 1.6rem;
}

.mb-18 {
  margin-bottom: 1.8rem;
}

.mb-20 {
  margin-bottom: 2rem;
}
