@import "colors";
@import "tipography";

.task-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
  background-color: $background;
  width: 30rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-control {
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
}

/* Estilos específicos para dispositivos de 375px a 767px */
@media (max-width: 480px) {
  .task-form {
    width: auto;
  }
}
