<div class="task-list" cdkDrag cdkDragBoundary=".container-task-list">
  <div class="task-list__header">
    <span data-testid="title" class="ft-big">Task List</span>
    <mat-icon
      data-testid="add-button"
      class="task-list__icon pointer"
      (click)="addTask.emit()"
      >add</mat-icon
    >
  </div>
  <div class="task-list__items">
    <app-task-item
      *ngFor="let task of taskList"
      [task]="task"
      (deleteTask)="onDeleteTask($event)"
      (selectTask)="onSelectTask(task)"
    ></app-task-item>
  </div>
</div>
