@import "tipography";
@import "colors";

$list-background: #eaecee;

.task-list {
  border: 0.1rem solid $text-secondary;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 23rem;
  background: $list-background;
  position: absolute;
}

.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.task-items {
  display: flex;
  flex-direction: column;
}

.icon {
  font-size: $big-font-size;
  size: $big-font-size;
}
