/* You can add global styles to this file, and also import other style files */
@import "form";
@import "tipografia";
@import "util";
@import "tamanhos";
@import "layout";
@import "colors";

html,
body {
  height: 100%;
  font-size: 10px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $text;
}

mat-icon {
  color: $primary;
}
