/* You can add global styles to this file, and also import other style files */
@import "form";
@import "typography";
@import "util";
@import "layout";
@import "colors";
@import "themes";

html,
body {
  height: 100%;
  font-size: 10px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $text;
}

mat-icon {
  color: $primary;
}

.mat-mdc-input-element {
  color: $text !important;
}
