@import "colors";

$container-background: #eaecee;

.task-details {
  width: 25vw;
  max-height: 70vh;
  min-height: 30rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: $container-background;
  border-radius: 0.3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 0;
  top: 20vh;
  left: 20vw;
  font-size: 1.6rem;

  .task-details-content {
    padding: 1rem;
    margin-top: 3rem;
  }
  .task-title {
    padding: 16px;
    margin-top: 2px;
    margin-bottom: 26px;
  }

  .task-title-input {
    width: 100%;
  }

  .task-description {
    padding: 16px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .task-description-input {
    width: 100%;
  }
}

.focused {
  border: 1px solid $secondary;
  box-shadow: 0 0 0 1px $secondary;
}
