<div
  [formGroup]="taskForm"
  class="task-details"
  data-testid="task-details"
  cdkDrag
  cdkDragBoundary=".container-task-list"
  [ngStyle]="{ 'z-index': zIndex }"
  (mousedown)="onClick()"
>
  <header>
    <div class="actions">
      <!--TODO: hide on editing, deal with various editing cases-->
      <mat-icon data-testid="task-edit" (click)="onEditTask()">edit</mat-icon>
      <mat-icon data-testid="task-delete" (click)="onDeleteTask()"
        >delete</mat-icon
      >
      <mat-icon data-testid="task-close" (click)="onCloseTask()"
        >close</mat-icon
      >
    </div>
  </header>
  <div>
    <div
      *ngIf="!editMode"
      data-testid="task-title"
      class="task-title"
      [innerHTML]="task.title"
    ></div>
    <mat-form-field
      appearance="outline"
      *ngIf="editMode"
      class="task-title-input"
    >
      <input
        matInput
        formControlName="title"
        data-testid="task-title-input"
        placeholder="Title"
      />
    </mat-form-field>
  </div>
  <div>
    <div
      *ngIf="!editMode"
      data-testid="task-description"
      class="task-description"
      [innerHTML]="task.description"
    ></div>
    <mat-form-field
      appearance="outline"
      *ngIf="editMode"
      class="task-description-input"
    >
      <textarea
        matInput
        formControlName="description"
        data-testid="task-description-input"
        placeholder="Description"
        cdkTextareaAutosize
        cdkAutosizeMinRows="4"
        cdkAutosizeMaxRows="8"
      ></textarea>
    </mat-form-field>
  </div>
  <button
    *ngIf="editMode"
    (click)="saveTask()"
    class="mt-auto"
    mat-raised-button
    color="primary"
  >
    Save
  </button>
</div>
