<div
  [formGroup]="taskForm"
  class="task-details"
  data-testid="task-details"
  cdkDrag
  cdkDragBoundary=".container-task-list"
  [ngStyle]="{ 'z-index': zIndex }"
  (mousedown)="onClick()"
>
  <header>
    <h1 *ngIf="!editMode" data-testid="task-title">{{ task.title }}</h1>
    <input
      *ngIf="editMode"
      formControlName="title"
      data-testid="task-title-input"
    />
    <div class="actions">
      <mat-icon data-testid="task-edit" (click)="onEditTask()">edit</mat-icon>
      <mat-icon data-testid="task-delete" (click)="onDeleteTask()"
        >delete</mat-icon
      >
      <mat-icon data-testid="task-close" (click)="onCloseTask()"
        >close</mat-icon
      >
    </div>
  </header>
  <div class="task-description">
    <p *ngIf="!editMode" data-testid="task-description">
      {{ task.description }}
    </p>
    <input
      *ngIf="editMode"
      formControlName="description"
      data-testid="task-description-input"
    />
  </div>
  <button *ngIf="editMode" (click)="saveTask()">Save</button>
</div>
