<div
  [formGroup]="taskForm"
  class="task-details"
  data-testid="task-details"
  cdkDrag
  cdkDragBoundary=".container-task-list"
  [ngStyle]="{ 'z-index': zIndex }"
  [ngClass]="{ focused: focused }"
  (mousedown)="onClick()"
>
  <app-event-bar
    [icons]="taskDetailsEvents"
    (iconEvent)="handleIconEvent($event)"
    cdkDragHandle
  >
  </app-event-bar>
  <div class="task-details-content">
    <div>
      <div
        *ngIf="!editMode"
        data-testid="task-title"
        class="task-title"
        [innerHTML]="sanitizeHtml(task.title)"
      ></div>
      <mat-form-field
        appearance="outline"
        *ngIf="editMode"
        class="task-title-input"
      >
        <input
          matInput
          formControlName="title"
          data-testid="task-title-input"
          placeholder="Title"
        />
      </mat-form-field>
    </div>
    <div>
      <div
        *ngIf="!editMode"
        data-testid="task-description"
        class="task-description"
        [innerHTML]="sanitizeHtml(task.description)"
      ></div>
      <mat-form-field
        appearance="outline"
        *ngIf="editMode"
        class="task-description-input"
      >
        <textarea
          matInput
          formControlName="description"
          data-testid="task-description-input"
          placeholder="Description"
          cdkTextareaAutosize
          cdkAutosizeMinRows="4"
          cdkAutosizeMaxRows="8"
        ></textarea>
      </mat-form-field>
    </div>
    <button
      *ngIf="editMode"
      (click)="saveTask()"
      data-testid="task-save-button"
      class="mt-auto"
      mat-raised-button
      color="primary"
    >
      Save
    </button>
  </div>
</div>
