@import "colors";

$container-background: #eaecee;

.task-details {
  width: 25vw;
  max-height: 70vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: $container-background;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  header {
    display: flex;
    align-items: center;

    h1 {
      font-size: 1.5rem;
      margin-right: 1rem;
    }

    .actions {
      margin-left: auto;
      display: flex;
      gap: 1rem;

      mat-icon {
        cursor: pointer;
      }
    }
  }

  .task-description {
    margin-top: 1rem;
  }
}
