<app-task-list
  (selectTask)="onTaskSelected($event)"
  (openAddDialog)="openTaskDialog()"
  (deleteTask)="handleDeleteTask($event)"
  [taskList]="tasks"
>
</app-task-list>

<div class="task-details-container" *ngFor="let task of selectedTasks">
  <app-task-details
    [task]="task"
    [zIndex]="zIndexes[task.id]"
    (openEditDialog)="openTaskDialog(task)"
    (deleteTask)="handleDeleteTask($event)"
    (closeTask)="handleCloseTask($event)"
    (focus)="onTaskSelected(task)"
  ></app-task-details>
</div>
