<app-task-list
  (selectTask)="onTaskSelected($event)"
  (deleteTask)="handleDeleteTask($event)"
  (addTask)="handleAddTask()"
  [taskList]="tasks"
>
</app-task-list>

<div class="task-details-container" *ngFor="let task of selectedTasks">
  <app-task-details
    [task]="task"
    [editMode]="task.title === ''"
    [zIndex]="zIndexes[task.id]"
    (save)="handleSaveTask($event)"
    (deleteTask)="handleDeleteTask($event)"
    (closeTask)="handleCloseTask($event)"
    (focus)="onTaskSelected(task)"
  ></app-task-details>
</div>
